#autotools side-effects
configure
configure.scan
configure.lineno
config.guess
config.h.in
config.sub
install-sh
missing
compile
config.h
*.log
*.status
stamp-h*
.stamp_*
libtool
depcomp
ltmain.sh
m4/*
src/.deps/
src/.deps/*
aclocal.m4
autom4te.cache/*
autom4te.cache/
Makefile
Makefile.in
.applied_patches_list
src/Makefile
src/Makefile.in
example/.deps/*
example/Makefile
example/Makefile.in
lib/Makefile
lib/Makefile.in
src/Makefile
src/Makefile.in
src/.deps/*

#compilation side-effects
libxclogging-config.src
libxclogging-config
libxclogging.pc.src
libxclogging.pc
version.sed
src/*.o
src/*.a
src/*.la
src/.libs/*
example/testlog
example/*.o
example/.libs/*

#emacs side effects
*~
src/*~

TAGS
*.o
*.a
*.la
*.lo
*.swp
